$black: #000;
$grey:  #808080;

body, div, p, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, table, th, td
{
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

br.clear
{
  clear: both;
}

table
{
  table-layout: fixed;
  border-collapse: collapse;

  th, td
  {
    padding: 2px;
  }
}

input
{
  border: 1px solid $black;
}

table.puzzle-grid
{
  border: 2px solid $black;

  th
  {
    border: 2px solid $black;

    input.hint
    {
      font-size: 12pt;
      width: 24px;
      text-align: center;
      border: 1px solid $grey;
    }
  }

  th.column-hints
  {
    input.hint
    {
      float: left;
      clear: left;

      margin-top: 4px;

      &:first-child
      {
        margin-top: 0px;
      }
    }
  }

  td
  {
    border: 1px solid $grey;
  }
}

